.incidence-header {
  height: 100%;
  color: white;
  padding: 1rem;
}
.incidence-low {
  @extend .incidence-header;
  background: rgb(87, 177, 96);
}

.incidence-medium {
  @extend .incidence-header;
  background: rgb(226, 203, 49);
}

.incidence-severe {
  @extend .incidence-header;
  background: rgb(195, 72, 56);
}

.incidence-info {
  @extend .incidence-header;
  background: #17a2b8;
}

.incidence-title {
  font-weight: bolder;
  font-size: 10rem;
}

.incidence-subtitle {
  font-weight: bold;
  font-size: 5rem;
}

.incidence-text {
  font-size: 2.5rem
}

.virus-image {
  font-size: 10rem;
  height: auto;
  margin-bottom: 40px;
  width: 125px;
}

.virus-image .body {
  fill: white;
}